
services:
    postgres:
        image: postgres:15
        container_name: postgresRL
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_DB: UniRent
        ports:
            - "5432:5432"
        networks:
            - app-network

    pgadmin:
        image: dpage/pgadmin4:latest
        container_name: pgadmin
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com
            PGADMIN_DEFAULT_PASSWORD: admin
        ports:
            - "5050:80"
        depends_on:
            - postgres
        networks:
            - app-network

    springboot-app:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/app
        ports:
            - "8888:8888"
        environment:
            SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/UniRent
            SPRING_DATASOURCE_USERNAME: postgres
            SPRING_DATASOURCE_PASSWORD: password
        depends_on:
            - postgres
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
